IPINFO_TOKEN=""
IPINFO_DIR="./test-data"
IPINFO_SYNC="12h"
PRETTY_LOGGING="true" # It accepts 1, t, T, TRUE, true, True, 0, f, F, FALSE, false, False, could also omit completely
CONFIG_PATH="./config.yaml"
