# IPINFO configuration, it's a dataset managed by the allower and synced to have ip lookups local and fast
IPINFO_TOKEN=""
IPINFO_DIR="./test-data"
IPINFO_SYNC=12h

# Configuration, the bread and butter
CONFIG_PATH="./test-data/config.yaml"

METRICS=1m # Interval to log metrics, 0s means disabled
LOG_PRETTY=false # It accepts 1, t, T, TRUE, true, True, 0, f, F, FALSE, false, False, could also omit completely
LOG_LEVEL=info # Accepts trace, debug, info, warn, error
