IPINFO_TOKEN=""
IPINFO_DIR="./test-data"
IPINFO_SYNC=12h
LOG_PRETTY=true # It accepts 1, t, T, TRUE, true, True, 0, f, F, FALSE, false, False, could also omit completely
LOG_LEVEL="debug" # Accept debug, info, warn, error
CONFIG_PATH="./test-data/config.yaml"
